<li class="nav-item dropdown locale_dropdown">
    <a class="nav-link dropdown-toggle flex justify-start items-center cursor-pointer uppercase"
       data-bs-toggle="dropdown"
    >
        <img class="w-4 mr-1.5"
             src="{{ asset('build/img/flags/' ~ app.request.locale ~ '.png') }}"
             alt="{{ app.request.locale }}">
        {{ app.request.locale }}
    </a>
    <div class="dropdown-menu font-semibold">

        {% include 'components/layout/header/components/_locale_toggler.html.twig' %}

    </div>
</li>