<li class="nav-item mr-1">
    <a class="nav-link whitespace-nowrap" href="{{ path('app_login') }}">
        <i class="fas fa-fingerprint"></i>
        {{ 'app.nav.links.login'|trans }}
    </a>
</li>
<li class="nav-item -ml-1 mr-1">
    <a class="nav-link whitespace-nowrap" href="{{ path('app_register') }}">
        <i class="fas fa-user-plus"></i>
        {{ 'app.nav.links.register'|trans }}
    </a>
</li>