{% extends 'components/layout/wrappers/form_wrapper.html.twig' %}
{% trans_default_domain 'forms' %}

{% set page_title = 'app.reset_password.page_title'|trans %}
{% set form_title = 'app.reset_password.form_title'|trans %}
{% set form_side_img = asset('build/img/forgot-password.png') %}

{% block form_wrapper %}

    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger text-center" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(resetForm,{"attr":{'class':'flex flex-col justify-center items-center w-full'}}) }}

    <div class="form-group w-full">
        {{ form_row(resetForm.plainPassword) }}
    </div>

    {% include 'components/buttons/_primary_btn.html.twig' with {'title':'app.reset_password.reset_password_btn'|trans} %}

    {{ form_end(resetForm) }}


{% endblock %}
