<div class="w-full m-0 p-0 bg-cover bg-bottom bg-fixed"
     style="background-image:url('{{ asset('build/img/cover.jpeg') }}'); height: 50vh; max-height:660px;">
    <div class="container max-w-4xl mx-auto pt-16 md:pt-32 text-center break-normal">
        <div class="bg-gray-100 bg-opacity-30 py-2">
            <p class="text-gold-800 font-extrabold text-3xl md:text-5xl">
                Faez Shop
            </p>
            <p class="text-xl md:text-2xl text-gray-900 font-normal tracking-widest mt-4">
                {{ 'app.home.Welcome to the Shop'|trans }}
            </p>
        </div>
    </div>
</div>