.admin-avatar-preview dt .ea-lightbox-thumbnail img {
  width: 50% ;
  max-width: 15rem ;
  border: 5px solid whitesmoke;
  border-radius: 10px;
}


.admin-product-preview dt .ea-lightbox-thumbnail img {
  width: 50% ;
  max-width: 15rem ;
  border: 5px solid whitesmoke;
  border-radius: 10px;
}
