<div class="flex flex-col w-full justify-center items-center">
    <img class="w-25 sm:max-w-xs "
         src="https://icons.iconarchive.com/icons/iconsmind/outline/512/Inbox-Empty-icon.png"
         alt="empty">
    <span class="font-bold sm:text-xl text-base whitespace-nowrap">
        {{ 'app.shop.Notting Found'|trans }}
    </span>
</div>